
         
  
  <!-- Forget password form -->
  
  <div>
  
    <div class="main-content" >
        <app-top-nav></app-top-nav>
      <div class="container mt--7 pb-9">
        <div class="row justify-content-center">
          <div class="col-lg-6 col-md-8">
            <div class="card bg-secondary shadow border-0">
              
              <div class="card-body px-lg-6 py-lg-7 mb-3">
                <div class="text-center text-muted mb-4">
                  <small>Once you enter your registered email, a mail containing your new password will be sent you.</small>
                </div>
                <form class="form" [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
                    
                    <div class="form-group">
                        <input type="text" placeholder="Email" class="form-control" formControlName="email">
                        <span class="text-danger"
                            *ngIf="(changePasswordFormControl.email.touched || submitted) && changePasswordFormControl.email.errors?.required">
                            Email is required
                        </span>
                        <span class="text-danger"
                            *ngIf="changePasswordFormControl.email.touched && changePasswordFormControl.email.errors?.email">
                            Enter a valid email address
                        </span>
                    </div>
                    <div *ngIf= 'message' class='class="text-center text-muted'>
                    <p>Dear user, a new password has been sent to {{changePasswordForm.value.email}} </p>
                    <p>Didnt recieve any mail? click  <a class="text-light" (click)="changePassword()"><small>here</small></a> to resend a mail</p>
                    <p>Please click <a class="text-light" (click)="reload()"><small>here</small></a> if you entered the wrong email</p>
                    </div>
                    <div *ngIf='recievedPass' class=" d-flex justify-content-center form-group">
                        <button type="submit" class="btn btn-success" [disabled]='!changePasswordForm.valid' >Recieve new password</button>
                    </div>
                </form>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-6">
                <a href="#" class="text-light"></a>
              </div>
              <div class="col-6 text-right"><span>Back to </span>
                <a class="text-light" routerLink='/login'><small>Sign In</small></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  
  
    
  
  
  