



<!-- Login form lies here -->
<div *ngIf='ShowLogin'>
  <div class="main-content" >
    <!-- Navbar -->
    <nav class="navbar navbar-top navbar-horizontal navbar-expand-md navbar-dark">
      <div class="container px-4">
        <a class="navbar-brand" href="../index.html">
          <img  style='width:100px;height:100px;' src="../assets/img/brand/Elysia_jmz8bu.png" />
        </a>
        
        <div class="collapse navbar-collapse" id="navbar-collapse-main">
          <!-- Collapse header -->
          <div class="navbar-collapse-header d-md-none">
            <div class="row">
              <div class="col-6 collapse-brand">
                <a href="../index.html">
                   <img  style='width:100px;height:100px;' src="../assets/img/brand/Elysia_jmz8bu.png" />
                </a>
              </div>
              
            </div>
          </div>
          <!-- Navbar items -->
        </div>
      </div>
    </nav>
    <!-- Header -->
    <div class="header bg-gradient-primary py-6 py-lg-5">
      <div class="container pb-3">
        <div class="header-body text-center mb-4">
          <div class="row justify-content-center">
            <div class="col-lg-5 col-md-6 mb-1">
              <h1 class="text-white">Welcome!</h1>
              <p class="text-lead text-light">Sign in to gain exclusive access to a brave new world.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </div>
    <!-- Page content -->
    <div class="container mt--7 pb-9">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
          <div class="card bg-secondary shadow border-0">
            
            <div class="card-body px-lg-6 py-lg-7 mb-3">
              <div class="text-center text-muted mb-4">
                <small>Sign in with credentials</small>
              </div>
              <form role="form">
                <div class="form-group mb-3">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    <input class="form-control" placeholder="Email" type="email">
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    <input class="form-control" placeholder="Password" type="password">
                  </div>
                </div>
                <div class="custom-control custom-control-alternative custom-checkbox">
                  <input class="custom-control-input" id=" customCheckLogin" type="checkbox">
                  <label class="custom-control-label" for=" customCheckLogin">
                    <span class="text-muted">Remember me</span>
                  </label>
                </div>
                <div class="text-center">
                  <button type="button" class="btn btn-primary my-4">Sign in</button>
                </div>
              </form>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-6">
              <a href="#" class="text-light" (click)="SwithToForgetPass()"><small>Forgot password?</small></a>
            </div>
            <div class="col-6 text-right">
              <a href="#" class="text-light" (click)="SwithToRegistration()"><small>Create new account</small></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Registeration form lies here -->
<div  *ngIf='ShowRegist'>
  <div class="main-content" >
    <!-- Navbar -->
    <nav class="navbar navbar-top navbar-horizontal navbar-expand-md navbar-dark">
      <div class="container px-4">
        <a class="navbar-brand" href="../index.html">
          <img  style='width:100px;height:100px;' src="../assets/img/brand/Elysia_jmz8bu.png" />
        </a>
        
        <div class="collapse navbar-collapse" id="navbar-collapse-main">
          <!-- Collapse header -->
          <div class="navbar-collapse-header d-md-none">
            <div class="row">
              <div class="col-6 collapse-brand">
                <a href="../index.html">
                  <img  style='width:100px;height:100px;' src="../assets/img/brand/Elysia_jmz8bu.png" />
                </a>
              </div>
              
            </div>
          </div>
          <!-- Navbar items -->
        </div>
      </div>
    </nav>
    <!-- Header -->
    <div class="header bg-gradient-primary py-6 py-lg-5">
      <div class="container pb-3">
        <div class="header-body text-center mb-4">
          <div class="row justify-content-center">
            <div class="col-lg-5 col-md-6 mb-1">
              <h1 class="text-white">Welcome!</h1>
              <p class="text-lead text-light">Sign up to get exclusive access to a brave new world.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </div>
    <!-- Page content -->
    <div class="container mt--7 pb-9">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
          <div class="card bg-secondary shadow border-0">
            
            <div class="card-body px-lg-6 py-lg-5 mb-3">
              <div class="text-center mb-4">
                <b>Sign up if you are new</b><i class="ni ni-satisfied-83"></i>
              </div>
              <form class="form" [formGroup]="registerForm" (ngSubmit)="registerNewUser()">
                <div class="form-group">
                    <input type="text"  placeholder="Full Name" class="form-control" formControlName="name">
                    <span class="text-danger"
                        *ngIf="(registerFormControl.name.touched || submitted) && registerFormControl.name.errors?.required">
                        Name is required
                    </span>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Email" formControlName="email">
                    <span class="text-danger"
                        *ngIf="(registerFormControl.email.touched || submitted) && registerFormControl.email.errors?.required">
                        Email is required
                    </span>
                    <span class="text-danger"
                        *ngIf="registerFormControl.email.touched && registerFormControl.email.errors?.email">
                        Enter a valid email address
                    </span>
                </div>
                <div class="form-group">
                    <input type="text" placeholder="User Name" class="form-control" formControlName="username">
                    <span class="text-danger"
                        *ngIf="(registerFormControl.username.touched || submitted) && registerFormControl.username.errors?.required">
                        User Name is required
                    </span>
                    <span class="text-danger"
                        *ngIf="registerFormControl.username.touched && registerFormControl.username.errors?.userNameNotAvailable">
                        User Name is not available
                    </span>
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Password" class="form-control" formControlName="password">
                    <span class="text-danger"
                        *ngIf="(registerFormControl.password.touched || submitted) && registerFormControl.password.errors?.required">
                        Password is required
                    </span>
                    <span class="text-danger"
                        *ngIf="registerFormControl.password.touched && registerFormControl.password.errors?.invalidPassword">
                        Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
                        letter and 1 number
                    </span>
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Phone Number" class="form-control" formControlName="phone">
                    <span class="text-danger"
                        *ngIf="(registerFormControl.phone.touched || submitted) && registerFormControl.phone.errors?.required">
                        Phone Number is required
                    </span>
                    
                </div>
                <div class="d-flex justify-content-center form-group">
                    <button type="submit" class="btn btn-success"[disabled]="!registerForm.valid">Register</button>
                </div>
            </form>
            <div class="row mt-3">
              <div class="col-6">
                <!-- <a href="#" class="text-light" (click)="SwithToForgetPass()">Already a member? <small>Forgot password?</small></a> -->
              </div>
              <div class="col-10 text-right">
                <b >Already a member? </b><a href="#" class="text-light" (click)="SwithToLogin()"><small>Sign In</small></a>
              </div>
            </div>
          

<!-- Forget password form -->

<div *ngIf='ShowForgetPass'>

  <div class="main-content" >
    <!-- Navbar -->
    <nav class="navbar navbar-top navbar-horizontal navbar-expand-md navbar-dark">
      <div class="container px-4">
        <a class="navbar-brand" href="../index.html">
          <img  style='width:100px;height:100px;' src="../assets/img/brand/Elysia_jmz8bu.png" />
        </a>
        
        <div class="collapse navbar-collapse" id="navbar-collapse-main">
          <!-- Collapse header -->
          <div class="navbar-collapse-header d-md-none">
            <div class="row">
              <div class="col-6 collapse-brand">
                <a href="../index.html">
                  <img  style='width:100px;height:100px;' src="../assets/img/brand/Elysia_jmz8bu.png" />
                </a>
              </div>
             
            </div>
          </div>
          <!-- Navbar items -->
        </div>
      </div>
    </nav>
    <!-- Header -->
    <div class="header bg-gradient-primary py-6 py-lg-5">
      <div class="container pb-3">
        <div class="header-body text-center mb-4">
          <div class="row justify-content-center">
            <div class="col-lg-5 col-md-6 mb-1">
              <h1 class="text-white">Welcome!</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </div>
    <!-- Page content -->
    <div class="container mt--7 pb-9">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
          <div class="card bg-secondary shadow border-0">
            
            <div class="card-body px-lg-6 py-lg-7 mb-3">
              <div class="text-center text-muted mb-4">
                <small>Enter a new Password to change your Old one</small>
              </div>
              <form role="form">
              
                <div class="form-group">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                    </div>
                    <input class="form-control" placeholder="Email Or Mobile number" type="text">
                  </div>
                </div>
                
              
                <div class="form-group">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    <input class="form-control" placeholder="Old Password" type="password">
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    <input class="form-control" placeholder="New Password" type="password">
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    <input class="form-control" placeholder="Confirm New Password" type="password">
                  </div>
                </div>
                <div class="text-center">
                  <button type="button" class="btn btn-primary mt-4">Change Password</button>
                </div>
              </form>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-6">
              <a href="#" class="text-light"></a>
            </div>
            <div class="col-6 text-right"><span>Back to </span>
              <a href="#" class="text-light" (click)="SwithToLogin()"><small>Sign In</small></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




  


