<div>
    <nav class="navbar navbar-top navbar-horizontal navbar-expand-md navbar-dark">
        <div class="container px-4">
          <a class="navbar-brand" href="../index.html">
            <img  style='width:100px;height:100px;' src="../assets/img/brand/Elysia_jmz8bu.png" />
          </a>
          
          <div class="collapse navbar-collapse" id="navbar-collapse-main">
            <!-- Collapse header -->
            <div class="navbar-collapse-header d-md-none">
              <div class="row">
                <div class="col-6 collapse-brand">
                  <a href="../index.html">
                    <img  style='width:100px;height:100px;' src="../assets/img/brand/Elysia_jmz8bu.png" />
                  </a>
                </div>
               
              </div>
            </div>
            <!-- Navbar items -->
          </div>
        </div>
      </nav>
      <div class="header bg-gradient-primary py-6 py-lg-5">
        <div class="container pb-3">
          <div class="header-body text-center mb-4">
            <div class="row justify-content-center">
              <div class="col-lg-5 col-md-6 mb-1">
                <h1 class="text-white">Welcome!</h1>
              </div>
            </div>
          </div>
        </div>
        <div class="separator separator-bottom separator-skew zindex-100">
          <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
          </svg>
        </div>
      </div>
</div>